<form class="login">
  <fieldset class="login">
    <legend>Login</legend>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
  </fieldset>
</form>
