<form action="#" method="post" class='newMinion'>
<table class='table'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Cost</th>
    <th>Health</th>
    <th>Attack</th>
    <th>Type</th>
    <th>Effects</th>
  </tr>
  {{#each entries}}
    {{#if isBeingEdited}}
      {{> minion_new}}
    {{else}}
      {{> minion_entry}}
    {{/if}}
  {{/each}}
  {{> minion_new}}
</table>
</form>
